body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.board{
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
}
.board-item{
    border: 1px solid black;
    cursor: pointer;
}
.board-item:hover{
    background-color: rgb(201, 201, 201);
}
.disable{
    cursor: default;
}

.o{
    background-image: url("icons//radiobox-blank.svg");
}
