body,
html {
  height: 100%;
  background: linear-gradient(180deg, #e5e5e5, #f9fafb);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  --grid-item-size: 150px;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, var(--grid-item-size));
  grid-template-rows: repeat(3, var(--grid-item-size));
  gap: 4px;
}
.board-item {
  border: 1px solid #71717a;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 0 10px #a1a1aa;
}
.board-item:hover {
  background-color: rgba(201, 201, 201, 0.596);
}
.disable {
  cursor: default;
}
svg {
  justify-self: center;
}
.game {
  /* position: relative; */
}
.title,
.winner-message {
  font-size: 4em;
}
.winner-banner {
  background: #a2e6358f;
  box-shadow: 0 0 10px #a1a1aa;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 25%;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}
.message {
  display: flex;
  align-items: center;
}
.winner-message {
  text-align: center;
}
.hide {
  display: none;
}
.no-hover{
    pointer-events: none;
}
